<h1>Genres</h1>

<h2><%= @user.name %></h2>
<div class="wrapper">
<% @chatrooms.each do |chatroom| %>
  <div class="col-sm-6 col-md-4">
    <div class="column">
      <img src="<%=chatroom.image%>" alt="...">
      <div class="caption">
        <h3><%=chatroom.name%></h3>
        <p><%=chatroom.description%></p>
        <%= link_to "Chat Now!", chatroom_path(chatroom) %>
      </div>
    </div>
  </div>
<% end %>
</div>
