
<h1><%= @chatroom.name %></h1>
	<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header"></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"><strong><%= user.name %></strong></i>            
            </div>
            	<%= message.body %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= form_for :message, url: create_message_path do |f| %>

<%= f.hidden_field :user_id,:value => @user_id %>
<%= f.hidden_field :chatroom_id,:value => @chatroom.id %>

<div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm"  <%= f.text_area :body %> 
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                <%= f.submit "Send Message" %></button>
                        </span>
                    </div>
                </div>
<% end %>

